/* body {
  background-image: url(../img/flag.jpg);
  background-position: bottom;
} */

label {
  display: block;
  text-align: center;
  margin-bottom: .5rem;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 0px;
  background-color: #fff;
}

.form-select {
  margin-bottom: 1rem;
  display: flex;
  /* gap: 15px; */
  flex-direction: column;
  align-items: stretch;
}

.form-btn {
  gap: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.btn-primary {
  color: #fff;
  background-color: #366fab;
  border-color: #007bff;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}  

.card {
   width: min-content;
   margin-bottom: 20px;
}

/* input list */

:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
 

/* XXXSmall devices (phones, 280px and up) */
@media (min-width: 280px) { 

  .card-img-top {
    width: 250px; 
    height: 250px;
    object-fit: cover;
  }

  .mainTitle {
    font-size: 1em;
  }

}

/* XXSmall devices (phones, 320px and up) */
@media (min-width: 320px) { 

  .card-img-top {
    width: 280px; 
    height: 280px;
    object-fit: cover;
  }

  .mainTitle {
    font-size: .9em!important;
  }
  

}

/* XSmall devices (phones, 375px and up) */
@media (min-width: 375px) { 

  .card-img-top {
    width: 340px; 
    height: 340px;
    object-fit: cover;
  }

  .mainTitle {
    font-size: 1em!important;
  }
}

/* Small devices (phones, 414px and up) */
@media (min-width: 414px) { 

  .card-img-top {
    width: 380px; 
    height: 380px;
    object-fit: cover;
  }

}

/* Small devices (phones, 540px and up) */
@media (min-width: 540px) { 

  .card-img-top {
    width: 500px; 
    height: 500px;
    object-fit: cover;
  }

  .mainTitle {
    font-size: 2em!important;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

  .card-img-top {
    width: 200px; 
    height: 200px;
    object-fit: cover;
  }

 }


/* XL devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .card-img-top {
    width: 250px; 
    height: 250px;
    object-fit: cover;
  }
}

 

